beautifulsoup4==4.13.4
datasets==3.6.0
faiss-cpu
langdetect==1.0.9
matplotlib==3.10.3
nuggetizer==0.0.5
numpy==2.2.6
openai==1.82.0
pandas==2.2.3
playwright==1.52.0
pycountry==24.6.1
PyMuPDF==1.26.0
pyserini==0.44.0
readability_lxml==0.8.4.1
Requests==2.32.3
scipy==1.15.3
seaborn==0.13.2
spacy==3.8.7
tiktoken==0.9.0
tqdm==4.67.1
urllib3==2.4.0
